utils/*
!utils/python/hmon_plot.py
!utils/R/hmon_plot.R
!utils/R/neuralnet_1.33.tar.gz
build_archive.sh
aclocal.m4
ar-lib
autom4te.cache
compile
config.*
COPYING
depcomp
INSTALL
install-sh
m4
ltmain.sh
Makefile.in
Makefile
missing
configure
libtool
stamp-h1
src/hmonitor
src/parser.c
src/parser.h
src/scanner.c
src/.deps
src/.libs
src/Makefile
src/*.lo
src/*.o
src/*.la
src/plugins/accumulate/.deps
src/plugins/accumulate/.libs
src/plugins/accumulate/Makefile
src/plugins/accumulate/*.lo
src/plugins/accumulate/*.o
src/plugins/accumulate/*.la
src/plugins/hierarchical/.deps
src/plugins/hierarchical/.libs
src/plugins/hierarchical/Makefile
src/plugins/hierarchical/*.lo
src/plugins/hierarchical/*.o
src/plugins/hierarchical/*.la
src/plugins/papi/.deps
src/plugins/papi/.libs
src/plugins/papi/Makefile
src/plugins/papi/*.lo
src/plugins/papi/*.o
src/plugins/papi/*.la
src/plugins/maqao/.deps
src/plugins/maqao/.libs
src/plugins/maqao/Makefile
src/plugins/maqao/*.lo
src/plugins/maqao/*.o
src/plugins/maqao/*.la
src/plugins/learning/.deps
src/plugins/learning/.libs
src/plugins/learning/Makefile
src/plugins/learning/*.lo
src/plugins/learning/*.o
src/plugins/learning/*.la
src/plugins/stat_default/.deps
src/plugins/stat_default/.libs
src/plugins/stat_default/Makefile
src/plugins/stat_default/*.lo
src/plugins/stat_default/*.o
src/plugins/stat_default/*.la
src/plugins/fake/.deps
src/plugins/fake/.libs
src/plugins/fake/Makefile
src/plugins/fake/*.lo
src/plugins/fake/*.o
src/plugins/fake/*.la
src/plugins/proc/.deps
src/plugins/proc/.libs
src/plugins/proc/Makefile
src/plugins/proc/*.lo
src/plugins/proc/*.o
src/plugins/proc/*.la

